<div class="container mt-5" id="page-about">


    <h3 class="display-4 fw-bold lh-1 mb-3 text-center">About Me</h3>
    <div class="col-lg-8 text-center m-auto">
        <img src="../../assets/About-Me.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
    </div>

    <div class="col-lg-8 text-center m-auto">
        <p class="my-5">
            Hello. I'm Dave Burks. I am a web developer with over 25 years of experience working in all areas of web design.
            I've worked freelance and for small and large companies across all areas of web design.

            Whether you need graphics, a custom web site or a custom web app, I’ve got you covered.

            I'll work with your existing brand or create one for you and turn it into a unique digital experience that is easy to use
            and looks great across all devices. Participate in your development by providing feedback along the way if you choose. 

            Let’s build something really cool. Send me a message, and I'll get started right away!
        </p>
        <p>
            <button type="button" class="col-12 col-lg-4 btn btn-primary btn-lg px-4 m-auto  nav-link" routerLink="/contact">Go To Contact Page</button>
        </p>

    </div>


</div>



