#page-contact label {
  text-align: left;
  padding-top: 3px !important;
}

#page-contact .form-group {
  margin-bottom: 15px !important;
}


@media (min-width:768px) {
  #page-contact label {
    text-align: right;
    padding-top: 3px !important;
  }

  #page-contact .form-group {
    margin-bottom: 15px !important;
  }
}
