<div class="container-fluid p-0" id="web-carousel-container">
    <div id="web-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#web-carousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#web-carousel" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current=""></button>
            <button type="button" data-bs-target="#web-carousel" data-bs-slide-to="2" aria-label="Slide 3" class="" aria-current=""></button>
            <button type="button" data-bs-target="#web-carousel" data-bs-slide-to="3" aria-label="Slide 4" class="" aria-current=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item carousel-slide active">
                <div class="container-fluid p-0">
                    <img src="../../assets/banner_1.png" class="img-fluid opacity-50" alt="Web Design">
                </div>
                <div class="carousel-content container-fluid position-absolute top-0 start-50 translate-middle  d-flex justify-content-center " id="webdesign-carousel-1">
                    <div class="display-2 px-5 carousel-content-title text-center rounded-4">WEB DESIGN</div>
                </div>
                <div class="carousel-content container-fluid position-absolute top-0 start-50 translate-middle  d-flex justify-content-center " id="webdesign-carousel-1">
                    <div class="display-2 px-5 carousel-content-text text-center rounded-4">Amplify Your Brand with Creative Interactions</div>
                </div>
            </div>
            <div class="carousel-item carousel-slide">
                <div class="container-fluid p-0">
                    <img src="../../assets/banner_2.png" class="img-fluid opacity-50" alt="Web Development">
                </div>
                <div class="carousel-content container-fluid position-absolute top-0 start-50 translate-middle  d-flex justify-content-center " id="webdesign-carousel-1">
                    <div class="display-3 px-5 carousel-content-title text-center rounded-3 ">WEB DEVELOPMENT</div>
                </div>
                <div class="carousel-content container-fluid position-absolute top-0 start-50 translate-middle  d-flex justify-content-center " id="webdesign-carousel-1">
                    <div class="display-3 px-5 carousel-content-text text-center rounded-4">Robust Websites with Cutting-Edge Web Development</div>
                </div>
            </div>
            <div class="carousel-item carousel-slide">
                <div class="container-fluid p-0">
                    <img src="../../assets/banner_4.png" class="img-fluid opacity-50" alt="Web Graphics">
                </div>
                <div class="carousel-content container-fluid position-absolute top-0 start-50 translate-middle  d-flex justify-content-center " id="webdesign-carousel-1">
                    <div class="display-3 px-5 carousel-content-title text-center rounded-3 ">WEB GRAPHICS</div>
                </div>
                <div class="carousel-content container-fluid position-absolute top-0 start-50 translate-middle  d-flex justify-content-center " id="webdesign-carousel-1">
                    <div class="display-3 px-5 carousel-content-text text-center rounded-4">Captivate Your Audience with Stunning Graphics</div>
                </div>
            </div>
            <div class="carousel-item carousel-slide">
                <div class="container-fluid p-0">
                    <img src="../../assets/banner_3.png" class="img-fluid opacity-50" alt="Portfolio">
                </div>
                <div class="carousel-content container-fluid position-absolute top-0 start-50 translate-middle  d-flex justify-content-center " id="webdesign-carousel-1">
                    <div class="display-3 px-5 carousel-content-title text-center rounded-3 ">PORTFOLIO</div>
                </div>
                <div class="carousel-content container-fluid position-absolute top-0 start-50 translate-middle  d-flex justify-content-center " id="webdesign-carousel-1">
                    <div class="display-3 px-5 carousel-content-text text-center rounded-4">See some of my previous work</div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#web-carousel"
                data-bs-slide="prev">
            <span class="carousel-btn-bgs rounded">
                <span class="carousel-control-prev-icon btn" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </span>
        </button>
        <button class="carousel-control-next btn-dark "
                type="button"
                data-bs-target="#web-carousel"
                data-bs-slide="next">
            <span class="carousel-btn-bgs rounded">
                <span class="carousel-control-next-icon btn" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </span>
        </button>
    </div>
</div>

<div class="container-fluid" id="anim-tl-1">
    <div class="container-fluid container-bg col-xxl-8 px-4 py-5 anim-fadein webs-card">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 webs-card-setcardimage-resp">
                <img src="../../assets/home-cardimages-01.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Web Design</h1>
                <p class="lead">Amplify Your Brand with Creative Interactions</p>
                <p class="lead">Attract and engage your audience with visually captivating web designs that reflect your brand's unique personality. My web design services blend creativity with functionality to create user-friendly, responsive websites that leave a lasting impression.</p>
                <ul>
                    <li>Custom, tailor-made designs that align with your brand identity</li>

                    <li>Responsive layouts for seamless viewing across devices</li>

                    <li>User friendly interfaces that enhance navigation and user experience</li>

                    <li>Integration of latest design trends for a modern look</li>

                    <li>SEO-friendly designs to boost your online visibility</li>
                </ul>


                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 nav-link" routerLink="/contact">Get Started</button>
                    <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid " id="anim-tl-2">
    <div class="container-fluid container-bg col-xxl-8 px-4 py-5 anim-fadein webs-card">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6  webs-card-setcardimage-resp">
                <img src="../../assets/home-cardimages-02.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Web Development</h1>
                <p class="lead">Robust Websites with Cutting-Edge Web Development</p>
                <p class="lead">Transform your vision into reality with comprehensive web development services. From front-end to back-end development, I ensure that your website is not only visually appealing but also technically sound and efficient, providing a seamless user experience.</p>
                <ul>
                    <li>Expertise in HTML, CSS, JavaScript, and modern frameworks</li>

                    <li>Custom CMS development for easy content management</li>

                    <li>E-commerce solutions to drive your online sales</li>

                    <li>API integration for enhanced functionality and connectivity</li>

                    <li>Secure, scalable, and high-performance websites</li>
                </ul>

                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 nav-link" routerLink="/contact">Get Started</button>
                    <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" id="anim-tl-3">
    <div class="container-fluid container-bg col-xxl-8 px-4 py-5 anim-fadein  webs-card">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 webs-card-setcardimage-resp">
                <img src="../../assets/home-cardimages-04.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Graphics</h1>
                <p class="lead">Elevate Your Brand with Stunning Graphics and Visual Content</p>
                
                <p class="lead">Graphics services that offer a range of visual content solutions to elevate your brand. From logo design to custom illustrations, I create eye-catching graphics that communicate your brand's message effectively.</p>
                <ul>
                    <li>Logo Design and Branding</li>

                    <li>Custom Illustrations and Icons</li>

                    <li>Infographics and Data Visualizations</li>

                    <li>Social Media Graphics</li>

                    <li>Print and Digital Media Design</li>

                </ul>


                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 nav-link" routerLink="/contact">Get Started</button>
                    <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="anim-tl-4">
    <div class="container-fluid container-bg col-xxl-8 px-4 py-5 anim-fadein webs-card">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 webs-card-setcardimage-resp">
                <img src="../../assets/home-cardimages-03.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sample Work</h1>
                <p class="lead">See some of my previous work</p>
                
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 nav-link" routerLink="/contact">Get Started</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4 nav-link" routerLink="/portfolio">See Portfolio</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- SUPPORTED TECH -->
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-6 fw-bold text-white">SUPPORTED TECHNOLOGIES</h1>
        <div class="container-xl gx-4 gy-4 text-center">
            <div class="row mx-4 my-4">
                <div class="col">
                    <div class="row stack-image m-auto"><img src="/assets/html-5.svg" alt="HTML 5"></div>
                    <div class="row stack-text"><h5>HTML5</h5></div>
                </div>
                <div class="col">
                    <div class="row stack-image"><img src="/assets/css-3.svg" alt="CSS3"></div>
                    <div class="row stack-text"><h5>CSS3</h5></div>
                </div>
                <div class="col">
                    <div class="row stack-image"><img src="/assets/bootstrap.svg" alt="Bootstrap"></div>
                    <div class="row stack-text"><h5>Bootstrap</h5></div>
                </div>

                <div class="col">
                    <div class="row stack-image"><img src="/assets/react.svg" alt="React"></div>
                    <div class="row stack-text"><h5>React</h5></div>
                </div>
                <div class="col">
                    <div class="row stack-image"><img src="/assets/angular-icon.svg" alt="Angular"></div>
                    <div class="row stack-text"><h5>Angular</h5></div>
                </div>
                <div class="col">
                    <div class="row stack-image"><img src="/assets/jquery.svg" alt="JQuery"></div>
                    <div class="row stack-text"><h5>JQuery</h5></div>
                </div>
                <div class="col">
                    <div class="row stack-image"> <img src="/assets/javascript.svg" alt="Javascript"></div>
                    <div class="row stack-text"><h5>Javascript</h5></div>
                </div>
                <div class="col">
                    <div class="row stack-image"> <img src="/assets/typescript-icon.svg" alt="Typescript"></div>
                    <div class="row stack-text"><h5>Typescript</h5></div>
                </div>

                <div class="col">
                    <div class="row stack-image"><img src="/assets/dotnet.svg" alt=".Net"></div>
                    <div class="row stack-text"><h5>.Net</h5></div>
                </div>
                <div class="col">
                    <div class="row stack-image"><img src="/assets/nodejs-icon.svg" alt="Node"></div>
                    <div class="row stack-text"><h5>Node</h5></div>
                </div>
                <div class="col">
                    <div class="row stack-image"><img src="/assets/microsoft-azure.svg" alt="Azure"></div>
                    <div class="row stack-text"><h5>Azure</h5></div>
                </div>
                <div class="col">

                    <div class="row stack-image"> <img src="/assets/aws-ec2.svg" alt="AWS EC2"></div>
                    <div class="row stack-text"><h5>AWS EC2</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>


