<div class="container mt-5 mb-6" id="page-portfolio">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mb-4">Previous Work</h1>
        </div>
    </div>


    <div class="row mb-6">

        <div class="col-md-12 mb-5">

            <div class="card mb-6">
                <div class="card-body">

                    <div class="row">
                        <h3 class="card-title ">
                            <img align="right" class="card-img-top" src="../../assets/portfolio_logos_systemate.png" alt="Systemate">
                            Systemate
                        </h3>
                    </div>

                    <div class="row w-100">
                        <p class="card-text">Full Stack Web Development - Design, Development and Graphics</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><img src="../../assets/portfolio-sm8-sshots-01.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-sm8-sshots-02.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-sm8-sshots-03.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-sm8-sshots-04.png" style="width: 100%" /></div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-12 mb-3">
            <div class="card mb-6">
                <div class="card-body">

                    <div class="row">
                        <h3 class="card-title ">
                            <img align="right" class="card-img-top" src="../../assets/portfolio_logos_integrity.png" alt="Next Era">
                            Integrity Consulting Solutions
                        </h3>
                    </div>

                    <div class="row w-100">
                        <p class="card-text">Custom Web Design and Graphics</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><img src="../../assets/portfolio-integrity-sshots-01.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-integrity-sshots-02.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-integrity-sshots-03.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-integrity-sshots-04.png" style="width: 100%" /></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="card mb-6">
                <div class="card-body">

                    <div class="row">
                        <h3 class="card-title ">
                            <img align="right" class="card-img-top" src="../../assets/portfolio_logos_nextera.png" alt="Next Era">
                            Next Era Consultants
                        </h3>
                    </div>

                    <div class="row w-100">
                        <p class="card-text">Custom Web Design and Graphics</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><img src="../../assets/portfolio-nextera-sshots-01.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-nextera-sshots-02.png" style="width: 100%" /></div>
                        <div class="col-md-4"><img src="../../assets/portfolio-nextera-sshots-03.png" style="width: 100%" /></div>
                        <div class="col-md-4"><img src="../../assets/portfolio-nextera-sshots-04.png" style="width: 100%" /></div>
                        <div class="col-md-4"><img src="../../assets/portfolio-nextera-sshots-05.png" style="width: 100%" /></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <div class="card mb-6">
                <div class="card-body">

                    <div class="row">
                        <h3 class="card-title ">
                            <img align="right" class="card-img-top" src="../../assets/portfolio_logos_ihsmarkit.png" alt="IHS Markit">
                            <img align="right" class="card-img-top" src="../../assets/portfolio_logos_joc.png" alt="JOC">
                            <img align="right" class="card-img-top" src="../../assets/portfolio_logos_piers.png" alt="PIERS">
                            <img align="right" class="card-img-top" src="../../assets/portfolio_logos_centradex.png" alt="Centradex">
                            IHS Markit / Journal of Commerce / PIERS / Centradex
                        </h3>
                    </div>

                    <div class="row w-100">
                        <p class="card-text">Full Stack and Front End Development, Web Site Design and Graphics</p>
                    </div>

                    <div class="row">
                        <div class="col-md-7"><img src="../../assets/portfolio-ihs-sshots-01.png" style="width: 100%" /></div>
                        <div class="col-md-5"><img src="../../assets/portfolio-ihs-sshots-02.png" style="width: 100%" /></div>

                        <div class="col-md-4"><img src="../../assets/portfolio-ihs-sshots-02.1.png" style="width: 100%" /></div>
                        <div class="col-md-4"><img src="../../assets/portfolio-ihs-sshots-02.2.png" style="width: 100%" /></div>
                        <div class="col-md-4"><img src="../../assets/portfolio-ihs-sshots-03.png" style="width: 100%" /></div>

                        <div class="col-md-4"><img src="../../assets/portfolio-ihs-sshots-07.png" style="width: 100%" /></div>
                        <div class="col-md-4"><img src="../../assets/portfolio-ihs-sshots-08.png" style="width: 100%" /></div>

                        <div class="col-md-4"><img src="../../assets/portfolio-ihs-sshots-04.png" style="width: 100%" /></div>

                        <div class="col-md-6"><img src="../../assets/portfolio-ihs-sshots-05.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-ihs-sshots-06.png" style="width: 100%" /></div>

                    </div>



                </div>
            </div>
        </div>




        <div class="col-md-12 mb-3">
            <div class="card mb-6">
                <div class="card-body">

                    <div class="row">
                        <h3 class="card-title ">
                            <img align="right" class="card-img-top" src="../../assets/murfwood-logo-full.png" alt="Murfwood">
                            Warner Bros Nashville / Reprise Records Nashville / Misc
                        </h3>
                    </div>

                    <div class="row w-100">
                        <p class="card-text">Custom Web Design and Graphics</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4"><img src="../../assets/portfolio-old-sshots-01.png" style="width: 100%" /></div>
                        <div class="col-md-4"><img src="../../assets/portfolio-old-sshots-02.png" style="width: 100%" /></div>
                        <div class="col-md-4"><img src="../../assets/portfolio-old-sshots-03.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-old-sshots-04.png" style="width: 100%" /></div>
                        <div class="col-md-6"><img src="../../assets/portfolio-old-sshots-05.png" style="width: 100%" /></div>
                    </div>



                </div>
            </div>
        </div>


        <div class="col-md-12 mb-3">
            <div class="card mb-6">
                <div class="card-body">

                    <div class="row">
                        <h3 class="card-title ">
                            <img align="right" class="card-img-top" src="../../assets/murfwood-logo-full.png" alt="Murfwood">
                            Ready To Get Started?
                        </h3>
                    </div>

                    <div class="row w-100 justify-content-center">
                        <p class="card-text" align="center">Contact me to get started today!</p>
                    </div>

                    <div class="row justify-content-center">
                        <button type="button" class="col-md-4 btn btn-primary btn-lg px-4 me-md-2 nav-link" routerLink="/contact">Go To Contact Page</button>
                    </div>



                </div>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="row"><br /><br /><br /><br /></div>
        </div>



    </div>

</div>
