<div id="" class="parallax">

    
    <div class="container-fluid container-bg col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/home-cardimages-01.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Website Design and Graphics</h1>
                <p class="lead">Unlock the full potential of your brand with our custom website design and graphic design services. At the heart of our approach is the belief that every business deserves a stunning online presence that not only reflects its unique identity but also engages and captivates its audience.</p>
                
                    <h2>Website Design</h2>
                    <ul>
                        <li>
                            <b>Tailored Aesthetics: </b> We craft visually stunning websites that embody your brand’s style and values, ensuring every pixel aligns with your vision.
                        </li>
                        <li>
                            <b>Tailored Aesthetics: </b> We craft visually stunning websites that embody your brand’s style and values, ensuring every pixel aligns with your vision.
                        </li>
                        <li>
                            <b>Tailored Aesthetics: </b> We craft visually stunning websites that embody your brand’s style and values, ensuring every pixel aligns with your vision.
                        </li>
                    </ul>
                
                Tailored Aesthetics: We craft visually stunning websites that embody your brand’s style and values, ensuring every pixel aligns with your vision.
                Responsive Layouts: With mobile-first design, we guarantee a seamless experience across all devices, from desktops to smartphones.
                User-Centric Interfaces: By focusing on user experience (UX), we create intuitive navigation and interaction that keeps visitors engaged and reduces bounce rates.
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                </div>
            </div>
        </div>
    </div>

    

    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-6 fw-bold text-white">SUPPORTED TECHNOLOGIES</h1>
            <div class="container-xl  gx-4 gy-4 text-center">
                <div class="row mx-4 my-4">
                    <div class="col">
                        <div class="row stack-image m-auto"><img src="/assets/html-5.svg" alt="HTML 5"></div>
                        <div class="row stack-text"><h5>HTML5</h5></div>
                    </div>
                    <div class="col">
                        <div class="row stack-image"><img src="/assets/css-3.svg" alt="CSS3"></div>
                        <div class="row stack-text"><h5>CSS3</h5></div>
                    </div>
                    <div class="col">
                        <div class="row stack-image"><img src="/assets/bootstrap.svg" alt="Bootstrap"></div>
                        <div class="row stack-text"><h5>Bootstrap</h5></div>
                    </div>

                    <div class="col">
                        <div class="row stack-image"><img src="/assets/react.svg" alt="React"></div>
                        <div class="row stack-text"><h5>React</h5></div>
                    </div>
                    <div class="col">
                        <div class="row stack-image"><img src="/assets/angular-icon.svg" alt="Angular"></div>
                        <div class="row stack-text"><h5>Angular</h5></div>
                    </div>
                    <div class="col">
                        <div class="row stack-image"><img src="/assets/jquery.svg" alt="JQuery"></div>
                        <div class="row stack-text"><h5>JQuery</h5></div>
                    </div>
                    <div class="col">
                        <div class="row stack-image"> <img src="/assets/javascript.svg" alt="Javascript"></div>
                        <div class="row stack-text"><h5>Javascript</h5></div>
                    </div>

                    <div class="col">
                        <div class="row stack-image"><img src="/assets/dotnet.svg" alt=".Net"></div>
                        <div class="row stack-text"><h5>.Net</h5></div>
                    </div>
                    <div class="col">
                        <div class="row stack-image"><img src="/assets/nodejs-icon.svg" alt="Node"></div>
                        <div class="row stack-text"><h5>Node</h5></div>
                    </div>
                    <div class="col">
                        <div class="row stack-image"><img src="/assets/microsoft-azure.svg" alt="Azure"></div>
                        <div class="row stack-text"><h5>Azure</h5></div>
                    </div>
                    <div class="col">

                        <div class="row stack-image"> <img src="/assets/aws-ec2.svg" alt="AWS EC2"></div>
                        <div class="row stack-text"><h5>AWS EC2</h5></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
