<div id="parallax-container">

    <div class="parallax-fixedbg parallax-image" id="parallax-image-bg">
        <!-- <div id="container-ffsky">
            <canvas id="stars1">
                <h1>STARS 1</h1>
            </canvas>
        </div> -->

        <div id="" class="text-center para-content-container">
            <div class="anim-fadein-titles d-block mb-4 " id="home-hero-img">

            </div>
            <div class="col-lg-6 mx-auto wood-sign anim-fadein-scrollarrow">
                <div id="scrollarrow">
                    <img src="../../assets/scrollarrow.svg" alt="Scroll To See More"/>
                </div>
            </div>
           

        </div>
    </div>

    <div class="parallax-image " id="parallax-image-00">
        <!-- <div class="para-image-container">
            <img src="../../assets/ink-paraImg-00.svg" />
        </div>  -->




         

    </div>

    <div class="parallax-image" id="parallax-image-01">
        <!--         <div class="para-image-container">

            <img src="../../assets/ink-paraImg-01.svg" />
        </div> -->

    </div>

    <div class="parallax-image" id="parallax-image-02">
        <!-- <div class="para-image-container">
            <img src="../../assets/ink-paraImg-02.svg" />
        </div> -->
        <div class="vert-spacer" id="vert-spacer-webdesign"></div>
        <div class="anim-fadein-uptitles anim-fadein-uptitles1" id="home-highlights-webdesign">
            <img class="" id="home-highlights-webdesign-img" src="../../assets/home-highlights-webdesign.png" alt="Web Design"/>
        </div>

    </div>



    <div class="parallax-image " id="parallax-image-03">
        <!--  <div class="para-image-container">
        <img src="../../assets/ink-paraImg-03.svg" />
        </div> -->
        <div class="vert-spacer" id="vert-spacer-webdev"></div>
        <div class="anim-fadein-uptitles anim-fadein-uptitles2" id="home-highlights-webdev">
            <img class="" id="home-highlights-webdev-img" src="../../assets/home-highlights-webdevelopment.png" alt="Web Development"/>
        </div>


    </div>
    <div class="parallax-image " id="parallax-image-04">
        <!--  <div class="para-image-container">
        <img src="../../assets/ink-paraImg-04.svg" />
        </div> -->
        <div class="vert-spacer" id="vert-spacer-graphics"></div>
        <div class="anim-fadein-uptitles anim-fadein-uptitles3" id="home-highlights-graphics">
            <img class="" id="home-highlights-graphics-img" src="../../assets/home-highlights-graphics.png" alt="Graphics"/>
        </div>

    </div>
    <div class="parallax-image" id="parallax-image-05">
        <!--  <div class="para-image-container">
            <img src="../../assets/ink-paraImg-05.svg" />
        </div> -->
        <div id="container-ff1">
             <canvas id="pixie1">
             </canvas>
         </div>
    </div>
    <div class="parallax-image" id="parallax-image-06">
        <!-- <div class="para-image-container">
            <img src="../../assets/ink-paraImg-06.svg" />
        </div> -->
                <div id="container-ff2">
                    <canvas id="pixie2">
                    </canvas>
                </div>
    </div>
    <div class="parallax-image" id="parallax-image-07">
        <!-- <div class="para-image-container">
        <img src="../../assets/ink-paraImg-07.svg" />
    </div> -->




        <div id="top-para-cover"></div>
        <div class="container-fluid" id="home-standout">
            <div class="container-fluid container-bg px-4 py-5  webs-card">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

                    <div class="col-lg-12 ">
                        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">STAND OUT</h1>
                        <!-- <p class="lead text-center">Unlock the full potential of your brand with our custom Web Services.</p> -->
                        <p class="lead text-center">I make creative and easy to use interactions that stand out.<br />Lets start building yours today.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 nav-link" routerLink="/web-services">SEE DETAILS</button>
                        </div>
                    </div>
                    <!--                     <div class="col-10 col-sm-8 col-lg-6  webs-card-setcardimage-resp">
                                        <img src="../../assets/home-cardimages-02.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="container-fluid home-cards fadein">
            <div class="row row-cols-1 row-cols-md-3  text-center container-fluid">
                <div class="col my-t-5 home-card">
                    <div class="card mb-4 mx-2 px-2 rounded-3 shadow-sm anim-ease ">
                        <img src="/assets/home-cardimages-01.png" class="card-img-top" alt="Web Design">
                        <div class="card-header py-3">
                            <p class="my-0 fw-bold font-main">WEB DESIGN</p>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>USER FRIENDLY</li>
                                <li>RESPONSIVE</li>
                                <li>MODERN</li>
                                <li>CREATIVE</li>
                                <li>LANDING PAGES</li>
                            </ul>
                            <a class="nav-link" routerLink="/web-services">
                                <button type="button" class="w-100 btn btn-lg btn-primary">WEB SERVICES</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col home-card">
                    <div class="card mb-4 mx-2 px-2 rounded-3 shadow-sm anim-ease">
                        <img src="/assets/home-cardimages-02.png" class="card-img-top" alt="Web Development">
                        <div class="card-header py-3">
                            <p class="my-0 fw-bold font-main">WEB DEVELOPMENT</p>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>WEB / MOBILE APPS</li>
                                <li>LEAD CAPTURE</li>
                                <li>INTEGRATIONS</li>
                                <li>SEO</li>
                                <li>eCOMMERCE</li>
                            </ul>
                            <a class="nav-link" routerLink="/web-services">
                                <button type="button" class="w-100 btn btn-lg btn-primary">WEB SERVICES</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col home-card">
                    <div class="card mb-4 mx-2 px-2 rounded-3 shadow-sm anim-ease ">
                        <img src="/assets/home-cardimages-04.png" class="card-img-top" alt="Graphics">
                        <div class="card-header py-3 ">
                            <p class="my-0 fw-bold font-main">GRAPHICS</p>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>LOGOS</li>
                                <li>SITE ICONS</li>
                                <li>CONTENT GRAPHICS</li>
                                <li>MARKETING CONTENT</li>
                                <li>AI ASSISTED</li>
                            </ul>
                            <a class="nav-link" routerLink="/graphics">
                                <button type="button" class="w-100 btn btn-lg btn-primary">WEB SERVICES</button>
                            </a>
                        </div>
                    </div>
                </div>


            </div>

        </div> -->

    </div>

    <!-- <div id="cover" class="parallax"> -->
</div>
<div class="container vspacer"></div>
